.product-wrapper {
    display:flex;
    flex-wrap:wrap;
justify-content: center;
}

.blog-img {
 flex: 0 0 25%;
 max-width:400px;
}


.product {
        flex: 0 0 21%;
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 15px;
        text-align: center;
        justify-content: center;
        align-items: center;
        cursor:pointer;
        position:relative;
}

.product p {
    max-width:250px;
    margin:0px auto;
}

.product-box {
    display:none;
}

.fav-icon {
    position:absolute;
    top:0;
    right:0;
    transition:.4s;
}

.fav-icon:hover{
    transform:scale(1.25);
    transition:.4;
}

/* .product:hover {
    opacity:.75;
} */