.product-wrapper {
    margin:50px auto;
    display:flex;
    flex-wrap:wrap;
justify-content: center;
max-width:1200px;
}

.blog-img {
 flex: 0 0 25%;
 max-width:275px;
}


.product {
        flex: 0 0 21%;
        margin-top: 25px;
        margin-bottom: 25px;
       margin: 15px;
        text-align: center;
        justify-content: center;
        align-items: center;
        cursor:pointer;
        position:relative;
        background-color:#f6f6f6;
}

.product p {
    max-width:250px;
    margin:0px auto;
}

.product-box {
    display:none;
}

.fav-icon {
    position:absolute;
    top:0;
    right:0;
    transition:.4s;
}

.fav-icon:hover{
    transform:scale(1.25);
    transition:.4;
}

/* .product:hover {
    opacity:.75;
} */


.lni-heart-filled, .lni-heart {
    font-size:23px;
}

.browse-select {
    padding:.5em 1em;
}

.browse-btn {
    padding: .5em 1em;
}