.product-modal {
    position:fixed;
    top:50%;
    left:50%;
    width:680px;
    height:400px;
    margin-top:-400px;
    margin-left:-425px;
    z-index:750;
    background-color:white;
    padding:50px;
    /* display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    /* margin:0px auto; */
}

.modal-backdrop {
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 636;
    top: 0;
    left: 0;
    opacity:.75;
}

.blog-content {
    display:flex;

}

.product-img {
    max-width:250px;
}

.close {
    cursor:pointer;
    position:absolute;
    top:25px;
    right:25px;
    font-size:22px;
}